* {
    margin: 0;
}

.header {
    background-image: url('../images/banner-bg.png');
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    /* padding-left: 120px; */
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 60px;
}

.nav-images {
    display: flex;
    align-items: center;
    gap: 7.79px;
}

.nav-icon {
    width: 84.235px;
    height: 84.681px;
}

.nav-icon-1 {
    width: 145.051px;
    height: 23.632px;
}

.nav-group-icon {
    width: 149.925px;
    height: 15.887px;
}

/* banner */
.banner {
    display: flex;
    /* gap: 280px; */
    margin-bottom: 70px;
}

.banner-subtitle {
    background-color: #012A4A;
    color: #FFFFFF;
    width: 387px;
    height: 54px;
    border-radius: 25px 0;
    margin-top: 70px;
    margin-bottom: 25px;
}

.banner-subtitle p {
    color: #FFF;
    font-family: Li Ador Noirrit;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    padding-top: 14px;
}

.banner-title {
    width: 650px;
    margin-bottom: 25px;

}

.banner-title p {
    color: #003B60;
    font-family: Li Niladri Rongtuli Unicode;
    font-size: 55px;
    font-weight: 550;
}

.banner-price {}

.total-price-text {
    color: #012A4A;
    font-family: Li Ador Noirrit;
    font-size: 20px;
    font-weight: 400;

}

.banner-price-text {
    display: flex;
    gap: 5px;
    align-items: center;
}

.middle-mark {
    color: #608AAB;
    font-family: Li Ador Noirrit;
    font-size: 20px;
    font-weight: 400;
    text-decoration: line-through;
}

.price-text {
    color: #012A4A;
    font-family: Li Ador Noirrit;
    font-size: 50px;
    font-weight: 700;

}

.btn-primary {
    background-color: #F0E615;
    border: none;
    border-radius: 25px 0;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px 20px;
}

.banner-btn {
    margin: 50px 0;
}

.btn-primary p {
    color: #092E67;
    font-family: Li Niladri Rongtuli Unicode;
    font-size: 20px;
    font-weight: 400;
}

.banner-price-description {
    color: #012A4A;
    font-family: Li Ador Noirrit;
    font-size: 25px;
    font-weight: 400;
    padding-bottom: 70px;
}

.blue-jeans-banner-img {
    width: 663px;
    height: 652px;
}

/* product details */
.product-details {}

.product-description {
    margin: 0 150px;
    color: #003B60;
    font-family: Li Ador Noirrit;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 50px;
}

.product-description-point {
    width: 600px;
    position: relative;
    left: 630px;
}

.description-title {
    color: #003B60;
    font-family: Li Niladri Rongtuli Unicode;
    font-size: 40px;
    margin-bottom: 32px;
}

.description-point-columns {
    display: flex;
    gap: 50px;
}

.description-point {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 16px;
}

.description-point p {
    color: #003B60;
    font-family: Manrope;
    font-size: 24px;
    font-weight: 500;
}
.denim-img{
    margin-top: -1000px;
}
.denim-img img {
    width: 100%;
}

.denim-img h3 {
    color: #FFF;
    width: 650px;
    margin: 0 auto;
    text-align: center;
    font-family: Li Sheikh Hasina 2;
    font-size: 40px;
    font-weight: 400;
    position: relative;
    top: 740px;
}

.denim-img-text h2 {
    color: #F0E615;
    font-family: Li Niladri Rongtuli Unicode;
    font-size: 40px;
}
.jeans-size{
    position: relative;
    left: 620px;
    top: 400px;
}
.frame-images{
    display: flex;
    gap: 25px;
}
.frame-img {
    width: 99px;
    height: 101px;
}

.waist-size {
    color: #012A4A;
    font-family: Li Niladri Rongtuli Unicode;
    font-size: 44px;
    position: relative;
    bottom: 84px;
    left: 13px;
}

.jeans-pile-img {
    width: 400px;
    height: 700px;
    position: relative;
    top: 700px;
    left: 150px;
}

.denim-img-btn {
    position: relative;
    top: 760px;
    margin: 0 auto;
}
/* product details end */